* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  background: linear-gradient(360deg, hsl(185, 75%, 39%), hsl(185, 75%, 39%)), url(/images/bg-pattern-top.svg) local left top no-repeat, url(/images/bg-pattern-bottom.svg) fixed right bottom no-repeat;
  background-size: 30%, 30%;
  font-family: 'Kumbh Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
  @media only screen and (max-width:700px) {
    .container {
      padding-top: 50px;
      padding-bottom: 40px;
    }
  }
.box {
  width: 250px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
} 
.box-1 {
  background-image: url(/images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
  height: 100px;
}
.image-victor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 90px;
  margin: auto;
  border-radius: 60px;
  border: 5px solid white;
  width: 80px;
}
.box-2 {
  padding-top: 50px;
  text-align: center;
}
.card-name {
  font-size: 18px;
}
.card-name-no {
  color: hsl(0, 0%, 59%);
}
.card-place {
  padding-top: 10px;
  color: hsl(0, 0%, 59%);
}
hr {
  margin-top: 30px;
  border-top: 1px solid hsl(0, 0%, 59%);
}
.card-stats {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.card-stats-head {
  font-size: 18px;
}
.card-stats-cnt {
  padding-top: 2px;
  font-size: 10px;
  color: hsl(0, 0%, 59%);
  letter-spacing: 1px;
}